/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
  --light-blue: #96deda;
  --dark-blue: #09203f;
  --white: #FFFFFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--light-blue);
  font-family: "Open Sans", "helvetica nue", "Arial", sans-serif;
  font-size: 16px;
}

main {
  position: relative;
  min-height: 100vh;
  padding: 0 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 22px;
}

p {
  margin-bottom: 1em;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

header {
  padding: 15px;
  background: var(--dark-blue);
  color: var(--white);
  position: relative;
  z-index: 2;
}

form label {
  font-weight: bold;
}

form select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 15px;
}

form select:focus, select:hover {
  background: var(--dark-blue);
  color: var(--white);
  outline: none;
}

form select option {
  padding: 5px;
}

form input, a {
  display: block;
  margin: 40px auto 0 auto;
  width: 150px;
  height: 50px;
  background: var(--white);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-decoration: none;
  text-align: center;
  padding: 14px;
  font-size: 15px;
}

form input:focus, input:hover, a:focus, a:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  outline: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#resultaten {
  top: -500px;
  background-color: var(--white);
  padding: 15px;
  position: absolute;
  width: 100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.lijstje-container {
  background-color: var(--white);
  padding: 15px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#lijstje-container-resultaten {
  background-color: var(--white);
  padding: 15px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

#driehoeken {
  width: 400px;
  height: 20px;
  background-image: -o-linear-gradient(45deg, #96dade 50%, transparent 50%), -o-linear-gradient(135deg, transparent 50%, white 50%);
  background-image: linear-gradient(45deg, #96dade 50%, transparent 50%), linear-gradient(-45deg, transparent 50%, white 50%);
  background-size: 20px;
  position: absolute;
  left: 0;
}
